<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <div class="frock">
        </div>
    </title>
</head>
<body>
    

<section id="main-header">

    <div class ="box1">
        <h1> SIGN UP FOR FREE</h1>
    </div>

    <div class="box2">
        <form action="process.php" method="post">
            <label for="name"> Name </label>
            <input type="text" name="Name">

            <label for ="email"> Email-id</label>
            <input type="text" name="mailid">

            <div class="box3">
                <label>Gender </label>
                <select name="Gender">
                    <option value="Male"> Male</option>
                    <option value="Female"> Female</option>
                    <option value ="Non binary"> Non binary</option>
                    <option value ="Others"> Others </option>
                </select>
                Others:
                <input type="text" name="others">
                
            </div>

            <div class="box4">
                <label> Sexual orientation:</label>
                <select name="Sexual orientation">
                    <option value="Straight"> Straight </option>
                    <option value="Lesbian"> Lesbian </option>
                    <option value ="Gay"> Gay</option>
                    <option value ="Bisexual"> Bisexual </option>
                    <option value ="Transgender"> Transgender</option>
                    <option value ="Queer"> Queer </option>
                    <option value="Asexual"> Asexual</option>
                    <option value="Others"> Others</option>                
                </select>

                Others:
                <input type="text" name="others">
            </div>

            <input type="Submit" name="Sign up">
        </form>
    </div>

</section>
</body>
</html>