
<!DOCTYPE html>
<html lang="en">
<head>
    <link href="css/new.css" rel="stylesheet" type="text/css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="This is a online dating web application focusing on the LGBTQ+ community in the locality">
    <title> Mi Amor</title>

    
</head>
<body>
    <header id="main-header">
        <div class="container">
            <h1>Mi Amor</h1>
        </div>
    </header>

    <navigation id="topbar">
        <div class="container">
            <ul>
                <li> <a href="dummy1"> Home </a></li>
                <li> <a href="dummy2"> About </a></li>
                <li> <a href="dummy3"> Contact us </a></li>
                <li> <a href="dummy4"> LOGIN/SIGNUP </a></li>
            </ul>
        </div>
    </navigation>

    <section id="introduction">
        <div class="container">
            <h1>  MI-AMOR <br>
                Find people with same interests and connect with them using 
                Mi Amor - the perfect dating website dedicated to the LGBTQ+ community in the neighbourhood 
            </h1>
        </div>
    </section>

    <div class="container">

        <section id="main">
            <div class="container">
                <h1> Welcome</h1>
                <p>
                    Main - Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
                    Sint dolorum non unde modi, atque laborum obcaecati qui minus magni optio? Aliquam labore dolorem, eaque explicabo quos reiciendis exercitationem totam aliquid.
                </p>
            </div>
        </section>

        <aside id="sidebar">
            <div class="container">

                <p>Sidebar- Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi numquam blanditiis nostrum aliquam suscipit voluptas qui esse. Quos inventore cum sapiente fuga non atque error mollitia repellat veniam? Earum, recusandae?
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi numquam blanditiis nostrum aliquam suscipit voluptas qui esse. Quos inventore cum sapiente fuga non atque error mollitia repellat veniam? Earum, recusandae?
                </p>
            </div>
        </aside>

    </div>




    <footer id="main-footer">
        <div class="container">
            <p>Copyright &copy; 2022, Mi Amor</p>
        </div>
    </footer>
  

</body>

</html>